




.formattedContainer {
  width: 500px;
  border: black solid 1px;
  padding: 5px;
  margin-top: 10%;
  background-color: white;
}

.flexContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.instructionsContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.instructions {
  font-size: 11px;
}

.dropdownContainer {
  display: flex;
  justify-content: center;
}

.Dropdown-root {
  width: 140px;
  background-color: #BBBBBB;
}

.Dropdown-placeholder {
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
  border: black solid 1px;
}

.Dropdown-option {
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
}

.Dropdown-option:hover{
  background-color: #D3D3D3;
}

.Dropdown-menu {
  background-color: #BBBBBB;
  position: absolute;
  z-index: 1;
  width: 140px;
}

.dropdownInstruction {
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.textAreaContainer {
  display: flex;
  flex-direction: column;
}

.textArea {
  height: 200px;
  width: 60%;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.submitButton {
  width: 150px;
  height: 30px;
  border: solid black 1px;
  // margin-left: 28%;
  background-color: #BBBBBB;
}

.button {
  cursor: pointer;
}

.textAreaTitle {
  display: flex;
  justify-content: center;
}

.formatHide {
  display: none;
}

.proceedSubmit {
  width: 100px;
  height: 30px;
  border: none;
  background-color: #BBBBBB;
}

.proceedSubmit:hover {
  background-color: #D3D3D3;
}

.submitChecker {
  margin-left: 55px;
  margin-right: 10px;
}

.closeModal {
  margin-right: 20px;
  width: 100px;
  height: 30px;
  border: none;
  background-color: #BBBBBB;
}

.closeModal:hover {
  background-color: #D3D3D3;
}

.warningModal {
  position: absolute;
  top: 35%;
  left: 34%;
  background-color: white;
  padding: 15px;
  color: black;
  padding: 15px;
  font-size: 12px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}
